.container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.column{
    position: relative;
    display: inline-block;
}
.sconto{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.heart{
    position: absolute;
    top: 340px;
    left: 150px;
    display: none;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}

.column:hover > .heart{
    color: red;
    display: block;
}
.top {
    margin-bottom: 40px;
    margin-top: 40px;
}